<div class="container">
    <h1>Centro de mensajes</h1>

    <form onsubmit="return agregarMensaje(this)">

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">E-mail: </span>
            </div>
            <input type="email" id="email" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" placeholder="Your Email" value="" readonly>
        </div>


        <div class="form-group" id='messages'></div>

        <div class="input-group input-group-sm mb-3">

            <input type="text" id="mensaje" class="form-control" ria-label="msj:" aria-describedby="inputGroup-sizing-sm"
                placeholder="Ingresa un mensaje..." required>
        </div>

        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-success">
        </div>

    </form>

</div>