    <!-- Pie de pagina  -->
    <br><br>
    <footer class="footer">
        <div class="footer__redes">
            <a class="redes__link mx-2" href="https://www.instagram.com/ArgentinaAventura.com.ar/" target="_blank"
                rel="noopener" alt="link al instagram de Argentina Aventura" title="instagram"><i
                    class="fab fa-instagram"></i></a>
            <a class="redes__link mx-2" href="https://www.facebook.com/nancy.barea/" target="_blank" rel="noopener"
                alt="link al facebook de Argentina Aventura" title="facebook"><i class="fab fa-facebook-f"></i></a>
        </div>
        <p class="copyright">Copyright ArgentinaAventura.com.ar ©2021</p>
    </footer>