<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 px-4">
        <a class="navbar-brand" href="#"><img src="../img/logo.png" alt="Logo de Argentina Aventura"
                 width="180px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto p-12">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Calendario</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Paquetes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="login">Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>
</header>