<div class="container">

    <h1>información del servidor</h1>

    
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Path: </span>
            </div>
            <input class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" value= <%= info.Path %> readonly>
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">  
                <span class="input-group-text" id="inputGroup-sizing-sm">Node version: </span>
            </div>
            <input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value= <%= info.Node_version %> readonly>
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">  
                <span class="input-group-text" id="inputGroup-sizing-sm">Carpeta Proyecto: </span>
            </div>
            <input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value= <%= info.Carpeta_Proyecto %> readonly>
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">  
                <span class="input-group-text" id="inputGroup-sizing-sm">Memoria: </span>
            </div>
            <input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value= <%= info.Memoria %> readonly>
        </div>

</div>