<% const hayPedidos=pedido.length> 0; %>
    <h3>Pedidos solicitados</h3>
    <div class="container">
        <% if(hayPedidos){ %>
            <div>
                <table>
                    <tr>
                        <th>Id Product</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                    </tr>
                    <% for (const item of pedido) {%>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.estado %></td>
                            <td><%= item.productos %></td>
                        </tr>
                    <%};%>
                </table>
            </div>
        <% } else{ %>
            <h3 class="alert alert-danger">No hay pedidos pendientes</h1>
        <% } %>
    </div>
