/node_modules
/datos.txt
/revisar.txt
/Consigna Proyecto Final Backend.docx
/Consigna Proyecto Final Curso Backend.docx
/documentacion.docx
/revisar.txt
.env
thunder-collection_CoderHouse - ecommerce.json
thunder-collection_CoderHouse - ecommerce - Nancy.json
thunder-environment_tp final - Nancy.json
thunder-environment_tp final.json
warning.log
consigna tp final.md