<!DOCTYPE html>

<html lang="es">

<head> 
    <%- include('../partials/head') %>
</head>

<body class="fondo__degrade">
    <!-- header -->
    <%- include('../partials/header') %>

    <!-- Listado de mensajes de chat -->
    <div class="container p-3 my-3 bg-light text-black">
         <%- include('../partials/chat',{mensajesChat:mensajesChatList}) %>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
</body>

</html>