<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <!-- login -->
    <div class="container p-3 my-3 bg-light text-black">
        <% if(user!==undefined){ %>
            <%- include('../partials/logout', {user:user}) %>
                <% } else { %>
                    <%- include('../partials/login') %>
                        <% } %>
    </div>

    <div class="container p-3 my-3 bg-light text-black">
        <% if(user!==undefined){ %>
            <%- include('../partials/chat',{user:user}) %>
        <% } else { %>
                BIENVENIDO AL TRABAJO PRACTICO FINAL, DEBE REGISTRARSE PARA COMENZAR A PROBAR
        <% } %>
    </div>

</body>

</html>