<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <!-- Listado de los productos -->
    <div class="container p-3 my-3 bg-light text-black">
        <%- include('../partials/productos',{producto:productosList}) %> 
    </div>

</body>

</html>